<ul>
  <li *ngFor="let todo of todos" [class]="todo.date.toString()| todo" appTodo>
    <strong>{{ todo.title }}</strong>
    <div class="buttons">
    <button (click)="displayTodoDetail(todo)"><fa-icon [icon]="faList"></fa-icon></button>
    <button (click)="openUpdateModal(todo)"><fa-icon [icon]="faPenToSquare"></fa-icon></button>
    <button (click)="deleteTodo(todo)"><fa-icon [icon]="faTrash"></fa-icon></button>
    </div>
  </li>
</ul>
<app-todo-detail [todo]="selectedTodo" *ngIf="selectedTodo && isModalOpen" (closeModal)="closeModal()"></app-todo-detail>
<app-update-todo [todo]="selectedTodo" *ngIf="selectedTodo && isUpdateModalOpen" (closeModal)="closeModalUpdate()"></app-update-todo>
